/*-----------header--------------*/

.header-top{
	font-size: .75rem;
	background: #19232e;
}
.header-top ul li{
	float: right;
	padding: 5px 10px;
	color: #fff;
}
.header-top ul li a{
	display: block;
	color: #fff;
}
.header-top ul li a:hover{
	color: #17a2b8;
}
.header-top .header-social ul li{
	float: left;
}
.header-main{
	font-size: .95rem;
	padding: 10px 0;
	
}
.header-main ul{
	padding: 20px 0 0;
	font-weight: bold;
	
}
.header-main ul li{
	float: right;
}
.header-main ul li a{
	display: block;
	padding: 0 10px;
	color: #333;
	text-decoration: none;
}
.header-main ul li a:hover{
	color: #17a2b8;
	text-decoration: none;
}
.header-main .logo{
	text-align: left;
}
.header-main .logo img{
	width: 50%;
}

/* ------------main----------- */
.main{
	/* background: rgba(23, 162, 184, .5); */
	background: #e6e3e3;
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,.2);
	padding:20px;
}
.main .data{
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,.2);
	padding: 20px;
	padding-right: 50px;
	text-align: right;
	margin-bottom: 10px;
	background-color: #fff;
	border-radius: 5px;
}
.main .data h2{
	background-color: #ee3350;
	/*  rgb(65, 0, 90) */
	color: #fff;
	font-weight: bold;
	padding: 20px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	display: inline-block;
	position: absolute;
	right: 14.9%;
}
.main .data img{
	width: 70%;
	padding-top: 120px;
	border-radius: 5px;
	margin: 10px 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}
.main .data p{
	text-align: justify;
	padding: 30px 50px;
	line-height: 1.8;
}
/* .main{
    padding: 30px 10px;
} */
.main img{
    width: 100%;
    display: block;
    margin: auto;
    /* position: absolute;
    top: 20%; */
}
.main .explain{
    /* background: #03597b; */
    color: rgb(247, 247, 247);
    padding: 10px 20px;
    margin: 10px;
    text-align: right;
    /* border-top-right-radius: 20px; */
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
	/* border-bottom-left-radius: 20px; */
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,.2);
}
/* .main .zoj{
	background: #03597b;
}
.main .fard{
	background:  rgb(65, 0, 90);
}
.main .explain h6{
    font-weight: bold;
}
.main .explain p{
    text-align: justify;
    line-height: 1.8;
    display: block;
    padding-bottom: 20px;
} */
/* --------footer------------ */
.footer{
	width: 100%;
    float: right;
    padding: 50px;
    background: #19232e;
    text-align: right;
	font-size: .85rem;
	color: #fff;
 }
 .footer h4{
	 border-bottom: 2px solid #ee3350;
 }
.footer .left ul li a{
	color: #fff;
	font-size: 1.1rem;
}
.footer .left ul li a:hover{
	color: #777;
	text-decoration: none;
}