/*-----------header--------------*/

.header-top{
	font-size: .75rem;
	background: #19232e;
}
.header-top ul li{
	float: right;
	padding: 5px 10px;
	color: #fff;
}
.header-top ul li a{
	display: block;
	color: #fff;
}
.header-top ul li a:hover{
	color: #17a2b8;
}
.header-top .header-social ul li{
	float: left;
}
.header-main{
	font-size: .95rem;
	padding: 10px 0;
	
}
.header-main ul{
	padding: 20px 0 0;
	font-weight: bold;
	
}
.header-main ul li{
	float: right;
}
.header-main ul li a{
	display: block;
	padding: 0 10px;
	color: #333;
	text-decoration: none;
}
.header-main ul li a:hover{
	color: #17a2b8;
	text-decoration: none;
}
.header-main .logo{
	text-align: left;
}
.header-main .logo img{
	width: 50%;
}

/* --------main-------------- */
 main{
    padding: 50px 0;
	/* background: #1b7092; */
	background: #e6e3e3;
    box-shadow: #333;
 }
 main h2{
	text-align: right;
	padding:0 20%;
    color: #222;
 }
.members{
    position: relative;
}
.members .members-pic{
    box-shadow: #333;
    padding: 20px 0;
}
.members .members-pic img{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 3px 20px 2px rgba(0,0,0,.1);
	-moz-box-shadow: 0 3px 20px 2px rgba(0,0,0,.1);
	-o-box-shadow: 0 3px 20px 2px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 3px 20px 2px rgba(0,0,0,.1);
    
}
.members .members-pic:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 2%;
	transform:  rotate(90deg) scale(3,4) ;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
    border-top: 5px solid #fff;
}
.members .members-info{
    background-color: #17a2b8;
    box-shadow: 0 3px 20px 2px rgba(0,0,0,.1);
	-moz-box-shadow: 0 3px 20px 2px rgba(0,0,0,.1);
	-o-box-shadow: 0 3px 20px 2px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 3px 20px 2px rgba(0,0,0,.1);
    padding: 20px;
    border-radius: 10px;
    text-align: right;
	position: absolute;
	width: 100%;
    height: 80%;
    top: 0%;
    bottom: 0%;
    margin-top: auto;
    margin-bottom: auto;
    color: #222;
}
/* .members .members-info h5{

}
.members .members-info p{
    
} */

/* --------footer------------ */
.footer{
    width: 100%;
    float: right;
    padding: 50px;
    background: #19232e;
    text-align: right;
	font-size: .85rem;
	color: #fff;
 }
 .footer h4{
	 border-bottom: 2px solid #ee3350;
 }
.footer .left ul li a{
	color: #fff;
	font-size: 1.1rem;
}
.footer .left ul li a:hover{
	color: #777;
	text-decoration: none;
}
