<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/contact-us.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <title>ارتباط با ما</title>
</head>
<body>
    <header>
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-6">
						<ul>
							<li><a href="{% url 'signup' %}"><i class="fas fa-user-plus"></i>حساب کاربری</a></li>
						</ul>
					</div>
					<div class="header-social col-12 col-md-6">
						<ul>
							<li><a src="#"><i class="fa fa-facebook"></i></a></li>
							<li><a src="#"><i class="fa fa-google"></i></a></li>
							<li><a src="#"><i class="fa fa-instagram"></i></a></li>
							<li><a src="#"><i class="fa fa-telegram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="header-main">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-8">
						<ul>
							<li><a href="{% url 'home' %}">صفحه اصلی</a></li>
							<li><a href="{% url 'projects' %}">پروژه ها</a>
							<li><a href="{% url 'members' %}">اعضا</a></li>
							<li><a href="{% url 'articles' %}">مقالات</a></li>
							<li><a href="{% url 'Educational-concepts' %}">آموزش</a></li>
							<li><a href="{% url 'tools' %}">Tools</a></li>
							<li><a href="{% url 'contact-us' %}">ارتباط با ما</a></li>
						</ul>
					</div>
					<div class="col-12 col-md-4">
						<div class="logo"><a href=""><img src="{% static 'images/logo1.png' %}" alt=""></a></div>
					</div>
				</div>
			</div>
		</div>
    </header>
    <div class="clearfix"></div>
    <main>
        <div class="contact-us">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6 col-sm-12">
						<div class="location">
							<div class="row">
								<div class="icon col-12 col-lg-4">
									<img src="{% static 'images/location.svg' %}" alt="">
								</div>
								<div class="col-12 col-lg-8">
									<h3>آدرس</h3>
									<span></span>
								</div>
								<div class="icon col-12 col-lg-4">
									<img src="{% static 'images/Support.svg' %}" alt="">
								</div>
								<div class="col-12 col-lg-8">
									<hr>
									<h3>تلفن تماس</h3>
									<span></span>
								</div>
								<hr>
								<div class="icon col-12 col-lg-4">
									<img src="{% static 'images/Inbox.svg' %}" alt="">
								</div>
								<hr>
								<div class="col-12 col-lg-8">
									<hr>
									<h3>شبکه های اجتماعی</h3>
									
										<a src="#"><i class="fa fa-facebook"></i></a>
										<a src="#"><i class="fa fa-google"></i></a>
										<a src="#"><i class="fa fa-instagram"></i></a>
										<a src="#"><i class="fa fa-telegram"></i></a>
									
								</div>
							</div>
						</div>
                    </div>
                    <div class="col-12 col-lg-6 col-sm-12">
                        <div class="showloc">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3376.3841848845855!2d51.85477698495113!3d32.193876981151995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fbc782756b3b5b5%3A0xe3784ba5afcbfe3e!2z2K_Yp9mG2LTar9in2Ycg2K_ZiNmE2KrbjCDYtNmH2LHYttin!5e0!3m2!1sfa!2s!4v1606806427146!5m2!1sfa!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="clearfix"></div>
    <footer>
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-4 col-md-4">
						<div class="right">
							<h4>درباره ما</h4>
							<p>
								لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه لورملورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
							</p>
						</div>
					</div>
					<div class="col-12 col-sm-4 col-md-4">
						<div class="center">
							<h4>تماس با ما</h4>
							<p>
								لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه لورملورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
							</p>
						</div>
					</div>
					<div class="col-12 col-sm-4 col-md-4">
						<div class="left">
							<h4>دسترسی سریع</h4>
							<ul>
								<li><a href="{% url 'home' %}">صفحه اصلی</a></li>
								<li><a href="{% url 'projects' %}">نمونه پروژه</a></li>
								<li><a href="{% url 'members' %}">اعضای تیم</a></li>
								<li><a href="{% url 'articles' %}">مقالات</a></li>
								<li><a href="{% url 'Educational-concepts' %}">مفاهیم آموزشی</a></li>
								<li><a href="{% url 'tools' %}">Tools</a></li>
								<li><a href="{% url 'contact-us' %}">ارتباط با ما</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="js/popper.min.js"></script>
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
</body>
</html>