<!doctype html>
{% load static %}
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'css/forget pass.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />
<title>forget pass</title>
</head>

<body>
	<main>
		<div class="forget-contaner">
			<div class="row">
				<div class="col-lg-8">
					<div class="forget-box">
						<form method="POST">
							<div class="input-group">
								{% csrf_token %}
								<br>
								نام اولین معلم زندگیتان را وارد کنید
								{{ form.answer }}
								</br>
								<br>
								رمز جدید را وارد کنید
								{{ form.answer2 }}
								</br>
							</div>
							<div class="submit-btn">
								<input value="بازگردانی رمز عبور" type="submit">
							</div>
						</form>
						<div class="social-auth">
							<a href="#"><i class="fab fa-facebook-f"></i></a>
							<a href="#"><i class="fab fa-google-plus-g"></i></a>
							<a href="#"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="forget-img">
						<img src="{% static 'svg/forget.svg' %}" alt="">
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>
