<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'css/member.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>اعضا</title>
</head>
<body>
    <header>
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-6">
						<ul>
							<li><a href="{% url 'signup' %}"><i class="fas fa-user-plus"></i>حساب کاربری</a></li>
						</ul>
					</div>
					<div class="header-social col-12 col-md-6">
						<ul>
							<li><a src="#"><i class="fa fa-facebook"></i></a></li>
							<li><a src="#"><i class="fa fa-google"></i></a></li>
							<li><a src="#"><i class="fa fa-instagram"></i></a></li>
							<li><a src="#"><i class="fa fa-telegram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="header-main">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-8">
						<ul>
							<li><a href="{% url 'home' %}">صفحه اصلی</a></li>
							<li><a href="{% url 'projects' %}">پروژه ها</a></li>
							<li><a href="{% url 'members' %}">اعضای تیم</a></li>
							<li><a href="{% url 'articles' %}">مقالات</a></li>
							<li><a href="{% url 'Educational-concepts' %}">مفاهیم آموزشی</a></li>
							<li><a href="{% url 'tools' %}">Tools</a></li>
							<li><a href="{% url 'contact-us' %}">ارتباط با ما</a></li>
						</ul>
					</div>
					<div class="col-12 col-md-4">
						<div class="logo"><a href=""><img src="{% static 'images/logo1.png' %}" alt=""></a></div>
					</div>
				</div>
			</div>
		</div>
    </header>
    <div class="clearfix"></div>
    <main>
		<h2>Lab Director and Callaborators</h2>
		<hr>
		<div class="members">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-3">
                        <div class="members-pic">
                            <img src="{% static 'images/porson1.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-md-9">
                        <div class="members-info shadow-around">
                            <h5>دکتر مریم لطفی</h5>
                        <p>
							Lab Director
                        </p>
                        </div>
                    </div>
				</div>
			</div>
		</div>
		<h2>BSc. Students</h2>
		<hr>
        <div class="members">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="members-pic">
                            <img src="{% static 'images/p.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-md-9">
                        <div class="members-info shadow-around">
                            <h5>حسین ابراهیم بابایی</h5>
                        <p>
							Project title: AR game Virus attack
                        </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="members-pic">
                            <img src="{% static 'images/p.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-md-9">
                        <div class="members-info shadow-around">
                            <h5>صادق شبانپور</h5>
                        <p>
							Project title: Cloud & Cloud services
                        </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="members-pic">
                            <img src="{% static 'images/p.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-md-9">
                        <div class="members-info shadow-around">
                            <h5>فهیمه فروتن</h5>
                        <p>
							Project title: Online shop website
                        </p>
                        </div>
					</div>
					<div class="col-12 col-md-3">
                        <div class="members-pic">
                            <img src="{% static 'images/p.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-md-9">
                        <div class="members-info shadow-around">
                            <h5>محسن واعظ </h5>
                        <p>
                            Project title: data mining in financial markets
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="clearfix"></div>
	<footer>
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-4 col-md-4">
						<div class="right">
							<h4>درباره ما</h4>
							<p>
								لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه لورملورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
							</p>
						</div>
					</div>
					<div class="col-12 col-sm-4 col-md-4">
						<div class="center">
							<h4>تماس با ما</h4>
							<p>
								لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه لورملورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
							</p>
						</div>
					</div>
					<div class="col-12 col-sm-4 col-md-4">
						<div class="left">
							<h4>دسترسی سریع</h4>
							<ul>
								<li><a href="{% url 'home' %}">صفحه اصلی</a></li>
								<li><a href="{% url 'projects' %}">نمونه پروژه</a></li>
								<li><a href="{% url 'members' %}">اعضای تیم</a></li>
								<li><a href="{% url 'articles' %}">مقالات</a></li>
								<li><a href="{% url 'Educational-concepts' %}">مفاهیم آموزشی</a></li>
								<li><a href="{% url 'tools' %}">Tools</a></li>
								<li><a href="{% url 'contact-us' %}">ارتباط با ما</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
    
    <script src="js/popper.min.js"></script>
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
</body>
</html>