<!doctype html>
{% load static %}
<html>
<head>
<meta charset="utf-8">
<!-- <link rel="stylesheet" href="{% static 'css/sing up.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
<link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />
<title>sing up</title>
</head>

<body>
	<main>
		<div class="login-contaner">
			<div class="row">
				<div class="col-lg-8">
					<div class="login-box">
						{% block content %}
						<h2>Sign up</h2>
						<form method="post">
						  {% csrf_token %}
						  <!-- {% for field in form %}
							<p>
							  {{ field.label_tag }}<br>
							  {{ field }}
							  {% if field.help_text %}
								<small style="color: grey">{{ field.help_text }}</small>
							  {% endif %}
							  {% for error in field.errors %}
								<p style="color: red">{{ error }}</p>
							  {% endfor %}
							</p>
						  {% endfor %} -->
						  <br>
						  <div class="input-group">
							<label for="">نام کاربری :</label>
							<!-- نام کاربری :  -->
							{{ form.username }}
						  </div>
						  <div class="input-group">
							<label for="">ایمیل :</label>
						 	{{ form.email }}
						  </div>
						  <div class="input-group">
							<label for="">رمز عبور :</label>
						  	{{ form.password1 }}
						  </div>
						  <div class="input-group">
							<label for="">تایید رمز عبور:</label>
						  	{{ form.password2 }}
						  </div>
						  <div class="input-group">
							<label for="">نام اولین معلم زندگیتان (سوال امنیتی):</label>
						  	{{ form.questions_secret }}
						  </div>
						  <p class="do-you-have">
							قبلا ثبت نام کرده اید؟ 
							<a href="{% url 'login' %}">وارد شوید</a>
						</p>
						 <div class="submit-btn">
							<input value="ثبت نام" type="submit">
						 </div>
						</form>
						{% endblock %}
						<!-- <form action="">
							<div class="input-group">
								<label for="">نام کاربری :</label>
								<input type="text">
							</div>
							<div class="input-group">
								<label for="">ایمیل :</label>
								<input type="email">
							</div>
							<div class="input-group">
								<label for="">رمز عبور :</label>
								<input type="password">
							</div>
							<p class="do-you-have">
								قبلا ثبت نام کرده اید؟ 
								<a href="{% url 'login' %}">وارد شوید</a>
							</p>
							<div class="submit-btn">
								<input value="ثبت نام" type="submit">
							</div>
						</form> -->
						<div class="social-auth">
							<a href="#"><i class="fab fa-facebook-f"></i></a>
							<a href="#"><i class="fab fa-google-plus-g"></i></a>
							<a href="#"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="login-img">
						<img src="{% static 'svg/for_login.svg' %}" alt="">
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>
